/* src/App.css */
.App {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input, textarea {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}

button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
