body {
    font-family: Arial, sans-serif;
}

.slideshow-container {
    position: relative;
    max-width: 800px;
    height: 500px;
    margin: auto;
}

.slides {
    display: none;
}

img {
    width: 100%;
    height: 800px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
